.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

.formAvatar {
  align-self: center;
}

.formContent {
  display: grid;
  gap: 32px;
  flex-grow: 1;
}

.formFields {
  display: grid;
  gap: 16px;
}

.formRow {
  --column-gap: 24px;

  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: var(--column-gap, 24px);
}

.formRowItem {
  flex-grow: 1;
  flex-basis: 200px;
}

.formRowItemHalf {
  width: calc(50% - var(--column-gap, 24px));
}

.changePasswordBtn {
  justify-self: start;
  border: none;
  padding: 0;
  color: var(--color-accent-dark);
  font-family: var(--font-family-base, 'Roboto'), sans-serif;
  font-weight: var(--font-weight-medium, 500);
  font-size: var(--font-size-body, 16px);
  background: none;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  color: var(--color-text-secondary, #69735d);
}

.triggerBtn {
  width: 56px;
  height: 56px;
  border: none;
  border-radius: var(--radius-rounded, 200px);
  color: var(--color-text-primary, #253017);
  background: var(--color-accent, #abd27a);
  transition: background-color 0.2s ease;
  cursor: pointer;

  &:hover {
    background: var(--color-accent-light, #deebc5);
  }

  &:active {
    color: var(--color-surface);
    background: var(--color-accent-dark, #508826);
  }
}

@container mainContent (width >= 760px) {
  .form {
    flex-direction: row-reverse;
  }

  .formAvatar {
    align-self: initial;
  }

  .formContent {
    max-width: 460px;
  }
}
