.authInfoCard {
  display: grid;
  place-items: center;
  place-content: center;
  gap: 40px;
  border-radius: var(--radius);
  padding: 60px;
  background-color: var(--color-surface);
}

.pictureWrapper {
  width: 100%;
  max-width: 300px;
}

.picture {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1;
}

.content {
  display: grid;
  gap: 12px;
  text-align: center;
  text-wrap: balance;
}

.description {
  margin: 0;
  line-height: var(--line-height-body);
}
