.authInfoCard {
  display: grid;
  place-items: center;
  place-content: center;
  gap: 40px;
}

.pictureWrapper {
  inline-size: min(100%, 300px);
  aspect-ratio: 1;
}

.picture {
  display: block;
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

.content {
  display: grid;
  gap: 12px;
  text-align: center;
  text-wrap: balance;
}

.description {
  margin: 0;
  line-height: var(--line-height-body, 24px);
}
