.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  margin: auto;
  padding: 62px;
  background-color: #FFFFFF;
  border-radius: 12px;
  display: inline-block;
  max-width: 90%; /* чтобы окно не выходило за границы экрана */
  max-height: 90%; /* чтобы было видно содержимое полностью */
}

.modalButton {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin-left: auto;
  color: var(--color-text-primary);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
}


