.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.navLinks {
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.textNav {
  color: var(--color-text-primary);
  font-family: var(--font-family-base);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-regular);
}

.linkButton {
  padding: 0;
  border: none;
  background-color: transparent;
}

.navLinks a {
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

.dropdownContainer {
  position: static;
}

.dropdownTrigger {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.dropdownTrigger svg {
  width: 16px;
  height: 16px;
}

@media (max-width: 768px) {
  .navbar {
    width: 100%;
  }

  .navLinks {
    gap: 16px;
  }
}
