.icon {
  width: 20px;
  height: 20px;
}

.button {
  padding: 12px 24px;
  border-radius: 8px;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-base);
  cursor: pointer;
  transition: all 0.2s ease;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid transparent;
  color: var(--color-text-primary);
}

.button:disabled {
  cursor: not-allowed;
}

.primary {
  background-color: var(--color-accent);
  color: var(--color-text-primary);
  border-color: var(--color-accent);
}

.primary:hover:not(:disabled) {
  background-color: var(--color-accent-light);
  border-color: var(--color-accent-light);
}

.primary:active:not(:disabled) {
  background-color: var(--color-accent-dark);
  color: var(--color-surface);
  border-color: var(--color-accent-dark);
}

.primary:disabled {
  background-color: var(--color-disabled);
  color: var(--color-text-secondary);
  border-color: var(--color-disabled);
}

.secondary {
  background-color: var(--color-surface);
  color: var(--color-text-primary);
  border-color: var(--color-accent);
}

.secondary:hover:not(:disabled) {
  color: var(--color-text-secondary);
  border-color: var(--color-accent-light);
}

.secondary:active:not(:disabled) {
  border-color: var(--color-accent-dark);
}

.secondary:disabled {
  color: var(--color-text-disabled);
  border-color: var(--color-disabled);
}

.tertiary {
  background-color: var(--color-surface);
  color: var(--color-text-primary);
  border: none;
}
