.main {
  display: grid;
  grid-template-columns: 324px 1fr;
  gap: 24px;
}

.sidebar,
.content {
  border-radius: 24px;
  background-color: var(--color-surface);
}

.sidebar {
  padding: 40px;
}

.content {
  padding: 60px;
  container-name: mainContent;
  container-type: inline-size;
}
