.form {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

.formContent {
  width: 460px;
  display: grid;
  gap: 32px;
}

.formFields {
  display: grid;
  gap: 16px;
}

.formRow {
  --column-gap: 24px;

  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: var(--column-gap);
}

.formRowItem {
  flex-grow: 1;
}

.formRowItemHalf {
  flex-basis: calc(50% - var(--column-gap));
}

.changePasswordBtn {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  justify-self: start;
  font-weight: var( --font-weight-medium);
}

.formAvatar {
  justify-self: center;
  width: 244px;
  height: 244px;
  outline: 1px solid tomato;
}

.icon {
  width: 24px;
  height: 24px;
  color: var(--color-text-secondary);
}
