.form {
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

.formContent {
  width: 460px;
  display: grid;
  gap: 32px;
}

.formFields {
  display: grid;
  gap: 16px;
}

.formRow {
  --column-gap: 24px;

  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: var(--column-gap);
}

.formRowItem {
  flex-grow: 1;
}

.formRowItemHalf {
  flex-basis: calc(50% - var(--column-gap));
}

.formAvatar {
  justify-self: center;
  width: 244px;
  height: 244px;
  outline: 1px solid tomato;
}
