.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: space-between;
}

.formContent {
  /*width: 460px;*/
  display: grid;
  gap: 32px;
}

.formFields {
  display: grid;
  gap: 16px;
}

.formRow {
  --column-gap: 24px;

  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: var(--column-gap);
}

.formRowItem {
  flex-grow: 1;
}

.formRowItemHalf {
  flex-basis: calc(50% - var(--column-gap));
}

.changePasswordBtn {
  padding: 0;
  justify-self: start;
  font-family: var(--font-family-base, 'Roboto'), sans-serif;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-medium);
  color: var(--color-accent-dark);
  border: none;
  background: none;
  cursor: pointer;
}

.formAvatar {
  justify-self: center;
  width: 244px;
  height: 244px;
}

.icon {
  width: 24px;
  height: 24px;
  color: var(--color-text-secondary);
}

.triggerBtn {
  width: 56px;
  height: 56px;
  border-radius: var(--radius-rounded);
  border: none;
  background: var(--color-accent);
  cursor: pointer;
  color: var(--color-text-primary);
  transition: background-color 0.2s ease;

  &:hover {
    background: var(--color-accent-light);
  }

  &:active {
    color: var(--color-surface);
    background: var(--color-accent-dark);
  }
}
