.formField {
  display: grid;
  color: var(--color-text-primary, #253017);
}

.label {
  justify-self: start;
  padding-block-end: 4px;
  font-size: var(--font-size-body, 16px);
}

.labelHidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.tip,
.error {
  margin-block-start: 4px;
  font-size: var(--font-size-caption, 12px);
  line-height: 1.33;
}

.error {
  color: var(--color-error);
  font-size: var(--font-size-caption, 12px);
}
