.modal {
  width: 556px;
  place-items: center;
}

.iconHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100px;
  block-size: 100px;
  margin-block-end: 52px;
}

.icon {
  inline-size: 75px;
  block-size: 75px;
}

.content {
  display: grid;
  gap: 12px;
  text-align: center;
  margin-block-end: 32px;
}

.description {
  margin: 0;
}

.button {
  justify-self: stretch;
}
